*{
    text-decoration:none;
    box-sizing: border-box;
}
a:hover{
    text-decoration: underline; 
}

/* estilos del body  */
body{
    font-family: 'Montserrat', 'sans-serif';
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color:#666666;
}
.main{
    margin-bottom: -20%;
}

.image{
    display: grid; width: 100%; height: 60%;
}
.image > img{
    width: 100%; opacity: 0.9; border-radius: 50%;
}
.content{
   display: grid; width: 100%;
}
.content > h1{
   text-align: center; top:-800px; position: relative; font-size: 3rem;
}

/* encabezado */
header > img{
    align-items: center; width: 25%;
}

/* formulario */
.form{
    display: grid; width: 100%; position: relative; top:-780px;
}
 form{
	width:30%;
	padding:16px;
	border-radius:10px;
	margin:auto;
    background-color:#FF8A43;
    opacity: 0.7; align-items: center;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}
form input[type="submit"]{
	width:40%; 
	padding:8px 16px;
	margin-top:28px;
	border:1px solid #DE533A;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#DE533A;
} 

form input[type="submit"]:hover{
	cursor:pointer; opacity: 1;
}


/* Seccion contacto */
.contact-info{
    max-width: 100%; width: 100%;
}
.container-flutter{
    display: grid; max-width: 100%; width: 100%; margin-left: 0; margin-right: 0;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.microsyslabs{
    width: 18%; display: inline-block;
}
.microsyslabs > img{
    width: 95%;
}
.adress-col{
    width: 18%; display: inline-block;
}
.colm{
    width: 18%; display: inline-block;

}
.usa-cam{
    width: 18%; display: inline-block;

}
.rd-lam{
    width: 18%; display: inline-block;

}


/* pie de pagina de copyright */
.copyright{
    background-color: #333333; width: 100%; margin:0; color: blanchedalmond;
}
.container > p{
    width: 30%; padding: 3% 0 0 5%;
    font-size: 1.2rem; display: inline-block;
}
.social-links{
    padding: -2% 0 2% 5%;
    width: 50%;
    margin-left: 80%; margin: -3% 0 3% 5%; 
    display: inline-block;
}

#twitter:hover{
    background-color: blanchedalmond; border-radius: 100%;
}
#facebook:hover{
   background-color: blanchedalmond; border-radius: 100%;
}
#linkedin:hover{
    background-color: blanchedalmond; border-radius: 100%;
}
#youtube:hover{
    background-color: blanchedalmond; border-radius: 100%;
}
